body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191f25;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.footer-links {
  color: rgb(214, 214, 214);
  font-size: 12px;
  text-decoration: none;
  text-align: start;
}
